<img src="https://snipboard.io/Kx6OAi.jpg">

# Session 1. Advanced Pandas: Configuration and Review
<div style="margin-top: -20px;">Author:  David Yerrington</div>

## Learning Objectives

- Install your Python Environment
- Run Jupyter Lab
- Reveiw of Pandas

### Prerequisite Knowledge
- Basic Pandas 
  - Difference between Series vs Dataframe
  - Bitmasks, query function, selecting data
  - Aggregations

## Environment Setup

We will first review some basic points to setup Python and the environment to start in [the setup guide](../environment.md).

# 1. Introduction

The most common problems we face working with data include:
- Access
- Exploration
- Transformation

Most problems in the world involve acquiring data in some form, understanding it enough to scope projects, then changing a portion of data in some way to clean, model, or create more datasets!  Pandas is our multi-tool of sorts when it comes to exploring the potential for applications with data.  The faster you can work within Pandas to explore and transform data, the easier it will be to produce most projects.

## 1.1 What is "Advanced" Pandas?

TBD:  Explanation of my experience about what is common working on data science teams and engineering roles.
2ndary explanation:  Use cases of advanced pandas

## 1.2 Use Cases

TBD: explanation of these use cases

- Working with mobile game data with semi-structured data
- Log files
- Text analytics 
- Writing methods using apply and map rather than manual iteration

# 2. Pandas Review

These topics are useful points of review that will will be using going forward but also are foundational points that are important before we go deeper.

## Load a dataset

This is a Pokemon dataset and it's from [Kaggle](https://www.kaggle.com/terminus7/pokemon-challenge).  

> Pokemon are creatures that fight each other, in a turn-based RPG game.  Nothing is more practical than Pokemon data.

In [1]:
import pandas as pd

df = pd.read_csv("../data/pokemon.csv", encoding = "utf8")

## 2.1 Series vs. DataFrame

![](https://snipboard.io/8i3yIz.jpg)

### Selecting Series:  Row

### Selecting Series:  Column

### Question: Is the object `df.columns` a series or a DataFrame?
Follow up:  How would you find out?

## 2.2 `.loc` and `.iloc`
### Selecting all rows, all columns

> `.iloc` is extremely useful for when you want to programatically access columns when you might not know the names of the columns explicitly.  This is of particular use when writing scripts to automate the process of cleaning data.

### Selecting all rows, specific columns

## 3. Selecting data 

### With Masks

Selection of data in Pandas is performed by passing a series of True/False values which are interpreted as "show" or "hide" for rows with the same numeric index.

Lets see this on a basic dataset that we create first.

In [2]:
basic_data = [
    ("Cat"),
    ("Bat"),
    ("Rat"),
    ("Wombat") # this is the best row
]
basic_df = pd.DataFrame(basic_data, columns = ["animal"])
basic_df

   animal
0     Cat
1     Bat
2     Rat
3  Wombat

In [3]:
## Selecting only the first row "cat"
mask = []

In [4]:
## Selecting only the second and fouth rows for "bat" and "wombat"
mask = []

## This also works with `.loc` and `.iloc`

So when we use basic conditional statements with Pandas to select data, they are actually creating a `boolean` series of `True` and `False` values that match the rows they coorespond to for selection.

## Using `.query()`

Query is a useful method in Pandas to quickly select data in a "sql-like" manner.

The `.query` method is great for exploring data but it does have some tradeoffs.


- You can refer to column names that contain spaces or operators by surrounding them in backticks. Also columns that begin with digits need to be escaped.
- You still need to escape columns that are named as reserved words but sometimes this breaks query I've found. ie: Column named as `class`.

## 4. `.info()` and Data Types

# Summary

By now you should have your Jupyter environment setup and running and be familliar with some core Pandas concepts:

* `.loc` and `.iloc` select data by row and column.  `.loc` allows you to select columns by name.  `.iloc` provides selection of columns by index which is useful for programatic access.
* Data is selected at the row level by boolean series called "masks".  Conditional operators create these boolean sequences and control the selection and display of DataFrames.
* `.describe()` is a handy function that automatically provides the most common aggregation methods across all numerical values in the dataset.
* `.groupby("[key column]")` aggregates data matching the key column parameter into groups of rows matching the same key.