<img src="https://snipboard.io/Kx6OAi.jpg">

# Session 3. Advanced Pandas: Multi-indexing
<div style="margin-top: -20px;">Author:  David Yerrington</div>

## Learning Objectives

- Define what a multi-indexing is
- Describe common methods for accessing data by multiple indices

### Prerequisite Knowledge
- Basic Pandas 
  - Difference between Series vs Dataframe
  - Bitmasks, query function, selecting data
  - Aggregations

## Environment Setup

Don't forget to setup your Python environment from [the setup guide](../environment.md) if you haven't done so yet.

In [5]:
import pandas as pd, numpy as np

## Load some Pokemon data

In [6]:
pokemon = pd.read_csv("../data/pokemon.csv", encoding = "utf8")

## 1. Let's Create a DataFrame with a Multi-Index

A lot of what working with a multi-index is about dealing with them as a result of many Pandas transformations such as `.groupby` and `.agg`.  Let's look at one.

In [7]:
poketypes = pokemon.groupby(["Type 1", "Type 2"]).mean()

In [9]:
poketypes.head(20)

                          #          HP      Attack     Defense     Sp. Atk  \
Type 1 Type 2
Bug    Electric  657.500000   60.000000   62.000000   55.000000   77.000000
       Fighting  232.500000   80.000000  155.000000   95.000000   40.000000
       Fire      698.500000   70.000000   72.500000   60.000000   92.500000
       Flying    315.571429   63.000000   70.142857   61.571429   72.857143
       Ghost     317.000000    1.000000   90.000000   45.000000   30.000000
       Grass     395.000000   55.000000   73.833333   76.666667   57.333333
       Ground    387.500000   45.500000   62.000000   97.500000   44.500000
       Poison    221.333333   53.750000   68.333333   58.083333   42.500000
       Rock      490.000000   46.666667   56.666667  146.666667   36.666667
       Steel     457.714286   67.714286  114.714286  112.428571   68.142857
       Water     308.000000   40.000000   30.000000   32.000000   50.000000
Dark   Dragon    696.000000   72.000000   85.000000   70.000000   78.333333
       Fighting  621.500000   57.500000   82.500000   92.500000   40.000000
       Fire      248.000000   65.000000   80.000000   56.666667  110.000000
       Flying    574.000000   93.200000   92.200000   73.800000   84.200000
       Ghost     327.500000   50.000000   80.000000  100.000000   75.000000
       Ice       373.500000   62.500000  107.500000   60.000000   40.000000
       Psychic   757.500000   69.500000   73.000000   70.500000   52.500000
       Steel     686.500000   55.000000  105.000000   85.000000   50.000000
Dragon Electric  708.000000  100.000000  150.000000  120.000000  120.000000

                    Sp. Def       Speed  Generation  Legendary
Type 1 Type 2
Bug    Electric   55.000000   86.500000    5.000000        0.0
       Fighting  100.000000   80.000000    2.000000        0.0
       Fire       80.000000   80.000000    5.000000        0.0
       Flying     69.071429   82.857143    2.857143        0.0
       Ghost      30.000000   40.000000    3.000000        0.0
       Grass      76.666667   44.500000    3.500000        0.0
       Ground     57.500000   38.000000    3.500000        0.0
       Poison     59.333333   65.916667    2.333333        0.0
       Rock      113.333333   35.000000    4.000000        0.0
       Steel      83.285714   63.428571    3.571429        0.0
       Water      52.000000   65.000000    3.000000        0.0
Dark   Dragon     70.000000   64.666667    5.000000        0.0
       Fighting   92.500000   53.000000    5.000000        0.0
       Fire       73.333333   91.666667    2.000000        0.0
       Flying     70.400000   80.200000    4.400000        0.2
       Ghost      90.000000   35.000000    3.000000        0.0
       Ice        80.000000  120.000000    3.000000        0.0
       Psychic    60.500000   59.000000    6.000000        0.0
       Steel      55.000000   65.000000    5.000000        0.0
Dragon Electric  100.000000   90.000000    5.000000        1.0

## 2. What is a Multi-Index

One of the most common forms of multi-indexes is the result of a `.groupby` with more than one group criteria.  In this grouped result, all pokemon are grouped by their primary types first, then by their secondary types before aggregations.  In this case we used `.mean` to aggregate the resulting subsets by this criteria.

For example:
- There are 69 Pokemon in the first "bug" subset
- Of the 69 bug pokemon, only 2 are "electric" type
- The input of our mean function are the values are 50 and 70.  The mean of those values are 60.

The same logic applies to the rest of the dataset but when we look at the multi-index on the left side of the dataframe, it describes the relationship but also literally the results from aggregation.

**We could flatten the index pushing it's values into the row space as an option:**

In [11]:
poketypes.reset_index()

,Type 1,Type 2,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bug,Electric,657.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0
1,Bug,Fighting,232.500000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0
2,Bug,Fire,698.500000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0
3,Bug,Flying,315.571429,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0
4,Bug,Ghost,317.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
131,Water,Ice,112.333333,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0
132,Water,Poison,129.000000,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0
133,Water,Psychic,121.400000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0
134,Water,Rock,474.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0
135,Water,Steel,441.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0

**But... we should really learn to work with multi-indexing at the row level!**
- It's descriptive
- Allows easy selection of data
- Gain flexibility with new methods to work with our data

## Various Accessors

**`.index`**

In [14]:
poketypes

                          #         HP      Attack     Defense     Sp. Atk  \
Type 1 Type 2
Bug    Electric  657.500000  60.000000   62.000000   55.000000   77.000000
       Fighting  232.500000  80.000000  155.000000   95.000000   40.000000
       Fire      698.500000  70.000000   72.500000   60.000000   92.500000
       Flying    315.571429  63.000000   70.142857   61.571429   72.857143
       Ghost     317.000000   1.000000   90.000000   45.000000   30.000000
...                     ...        ...         ...         ...         ...
Water  Ice       112.333333  90.000000   83.333333  113.333333   80.000000
       Poison    129.000000  61.666667   68.333333   58.333333   61.666667
       Psychic   121.400000  87.000000   73.000000  104.000000   94.000000
       Rock      474.750000  70.750000   82.750000  112.750000   61.500000
       Steel     441.000000  84.000000   86.000000   88.000000  111.000000

                    Sp. Def      Speed  Generation  Legendary
Type 1 Type 2
Bug    Electric   55.000000  86.500000    5.000000        0.0
       Fighting  100.000000  80.000000    2.000000        0.0
       Fire       80.000000  80.000000    5.000000        0.0
       Flying     69.071429  82.857143    2.857143        0.0
       Ghost      30.000000  40.000000    3.000000        0.0
...                     ...        ...         ...        ...
Water  Ice        78.333333  66.666667    1.000000        0.0
       Poison     91.666667  85.000000    1.333333        0.0
       Psychic    79.000000  44.000000    1.200000        0.0
       Rock       65.000000  36.000000    3.750000        0.0
       Steel     101.000000  60.000000    4.000000        0.0

[136 rows x 9 columns]

In [13]:
poketypes.index

MultiIndex([(  'Bug', 'Electric'),
            (  'Bug', 'Fighting'),
            (  'Bug',     'Fire'),
            (  'Bug',   'Flying'),
            (  'Bug',    'Ghost'),
            (  'Bug',    'Grass'),
            (  'Bug',   'Ground'),
            (  'Bug',   'Poison'),
            (  'Bug',     'Rock'),
            (  'Bug',    'Steel'),
            ...
            ('Water', 'Fighting'),
            ('Water',   'Flying'),
            ('Water',    'Ghost'),
            ('Water',    'Grass'),
            ('Water',   'Ground'),
            ('Water',      'Ice'),
            ('Water',   'Poison'),
            ('Water',  'Psychic'),
            ('Water',     'Rock'),
            ('Water',    'Steel')],
           names=['Type 1', 'Type 2'], length=136)

### `.loc[row:columns]`

Remember, that `.loc` takes as its first indexer as row reference.  With multi-indexes, `.loc` behaves a little differently.

`.loc[([primary/first subset name])]`

In [18]:
poketypes.loc[[('Bug', 'Electric')]]

,,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,Type 2,,,,,,,,,
Bug,Electric,657.5,60.0,62.0,55.0,77.0,55.0,86.5,5.0,0.0

`.loc[([1st subset name, 2nd subsetname])]`

### All secondary types that exist, regarless of their primary group designation

In [23]:
poketypes.loc[(slice(None), 'Electric'), :]

,,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,Type 2,,,,,,,,,
Bug,Electric,657.5,60.0,62.0,55.0,77.0,55.0,86.5,5.0,0.0
Dragon,Electric,708.0,100.0,150.0,120.0,120.0,100.0,90.0,5.0,1.0
Ground,Electric,680.0,109.0,66.0,84.0,81.0,99.0,32.0,5.0,0.0
Water,Electric,185.5,100.0,48.0,48.0,66.0,66.0,67.0,2.0,0.0

> **Review:  What does `slice()` do?**
>
> Slices simplifies the process of accessing sequentual types in Python but also in Numpy.  Generally, slice objects are their type defined by `slice(start, stop, step)`.  In the case of Pandas multi-indexing and using strings as index keys, Pandas uses this internally to reference rows.

### Slicing by multiple primany and secondary groups

In [29]:
poketypes.loc[(slice('Electric', 'Ghost'), ('Normal', 'Ground', 'Fire')), ['HP', 'Attack']]

                        HP     Attack
Type 1   Type 2
Electric Fire    50.000000  65.000000
         Normal  53.000000  46.500000
Fire     Ground  66.666667  93.333333
         Normal  74.000000  59.000000
Ghost    Fire    56.666667  41.666667

> **Also related:  Cross-section**
>
> Using `.xs`, you can also query subsets in the same way but with a few abstract conveniences such as:
> - Filtering levels completely
> - Setting values
>
> Read more about cross section features in Pandas in [the docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#cross-section).

### Selecting Multiple Values with `.query()`

This is a little obtuse but it works just fine.  In a particular level such as `Type 1` (first level), we can select specific subsets with the `.query()` method like so:

```python
index_values = [list of items]
df.query("`index name` in @index_values")
```

In [31]:
subsets = ['Bug', 'Fire', 'Dragon']
# code here
poketypes.query('`Type 1` in @subsets')

                          #          HP      Attack     Defense     Sp. Atk  \
Type 1 Type 2
Bug    Electric  657.500000   60.000000   62.000000   55.000000   77.000000
       Fighting  232.500000   80.000000  155.000000   95.000000   40.000000
       Fire      698.500000   70.000000   72.500000   60.000000   92.500000
       Flying    315.571429   63.000000   70.142857   61.571429   72.857143
       Ghost     317.000000    1.000000   90.000000   45.000000   30.000000
       Grass     395.000000   55.000000   73.833333   76.666667   57.333333
       Ground    387.500000   45.500000   62.000000   97.500000   44.500000
       Poison    221.333333   53.750000   68.333333   58.083333   42.500000
       Rock      490.000000   46.666667   56.666667  146.666667   36.666667
       Steel     457.714286   67.714286  114.714286  112.428571   68.142857
       Water     308.000000   40.000000   30.000000   32.000000   50.000000
Dragon Electric  708.000000  100.000000  150.000000  120.000000  120.000000
       Fairy     367.000000   75.000000  110.000000  110.000000  110.000000
       Fire      707.000000  100.000000  120.000000  100.000000  150.000000
       Flying    366.666667   94.333333  135.666667   97.500000  121.666667
       Ground    553.800000   90.000000  112.000000   88.200000   74.200000
       Ice       712.000000  125.000000  140.000000   93.333333  140.000000
       Psychic   419.500000   80.000000  100.000000   97.500000  135.000000
Fire   Dragon      8.000000   78.000000  130.000000  111.000000  130.000000
       Fighting  404.428571   80.000000  109.000000   64.714286   96.714286
       Flying    318.166667   82.000000   95.333333   77.000000  105.500000
       Ground    354.000000   66.666667   93.333333   70.000000  105.000000
       Normal    736.500000   74.000000   59.000000   65.000000   91.000000
       Psychic   670.500000   90.000000   49.500000   88.500000  127.000000
       Rock      238.000000   50.000000   50.000000  120.000000   80.000000
       Steel     543.000000   91.000000   90.000000  106.000000  130.000000
       Water     800.000000   80.000000  110.000000  120.000000  130.000000

                    Sp. Def       Speed  Generation  Legendary
Type 1 Type 2
Bug    Electric   55.000000   86.500000    5.000000   0.000000
       Fighting  100.000000   80.000000    2.000000   0.000000
       Fire       80.000000   80.000000    5.000000   0.000000
       Flying     69.071429   82.857143    2.857143   0.000000
       Ghost      30.000000   40.000000    3.000000   0.000000
       Grass      76.666667   44.500000    3.500000   0.000000
       Ground     57.500000   38.000000    3.500000   0.000000
       Poison     59.333333   65.916667    2.333333   0.000000
       Rock      113.333333   35.000000    4.000000   0.000000
       Steel      83.285714   63.428571    3.571429   0.000000
       Water      52.000000   65.000000    3.000000   0.000000
Dragon Electric  100.000000   90.000000    5.000000   1.000000
       Fairy     105.000000   80.000000    3.000000   0.000000
       Fire      120.000000   90.000000    5.000000   1.000000
       Flying     94.166667   98.333333    2.666667   0.333333
       Ground     75.000000   82.600000    4.400000   0.200000
       Ice        93.333333   95.000000    5.000000   1.000000
       Psychic   127.500000  110.000000    3.000000   1.000000
Fire   Dragon     85.000000  100.000000    1.000000   0.000000
       Fighting   64.714286   77.714286    3.857143   0.000000
       Flying     93.333333   98.333333    2.833333   0.333333
       Ground     75.000000   31.666667    3.000000   0.000000
       Normal     60.000000   89.000000    6.000000   0.000000
       Psychic   102.500000   79.500000    5.500000   0.000000
       Rock       80.000000   30.000000    2.000000   0.000000
       Steel     106.000000   77.000000    4.000000   1.000000
       Water      90.000000   70.000000    6.000000   1.000000

## Multi-Level Columns

Let's explore the next level of multi-dimensional data.  It's really common to use multiple aggregations when grouping data into multiple groups.  Even seasoned data practioners gloss over when they see these types of DataFrames in a notebook during a team meeting and complain that it's too difficult to work with.  Some might argue that using Pandas and writing code to select row and columns is more difficult than say Excel, or Tableau but that doens't mean it doesn't have time and place where it's useful.

**Let's take our multi-index grouped Pokemon dataset, and create a few aggregations.**

In [32]:
poke_multi = pokemon.groupby(['Type 1', 'Type 2']).agg([np.min, np.mean, np.max])
poke_multi

                   #                    HP                 Attack              \
                amin        mean amax amin       mean amax   amin        mean
Type 1 Type 2
Bug    Electric  657  657.500000  658   50  60.000000   70     47   62.000000
       Fighting  232  232.500000  233   80  80.000000   80    125  155.000000
       Fire      698  698.500000  699   55  70.000000   85     60   72.500000
       Flying     16  315.571429  735   30  63.000000   86     20   70.142857
       Ghost     317  317.000000  317    1   1.000000    1     90   90.000000
...              ...         ...  ...  ...        ...  ...    ...         ...
Water  Ice        95  112.333333  143   50  90.000000  130     70   83.333333
       Poison     79  129.000000  228   40  61.666667   80     40   68.333333
       Psychic    86  121.400000  215   60  87.000000   95     65   73.000000
       Rock      241  474.750000  627   54  70.750000  100     55   82.750000
       Steel     441  441.000000  441   84  84.000000   84     86   86.000000

                     Defense  ... Sp. Def Speed                 Generation  \
                amax    amin  ...    amax  amin       mean amax       amin
Type 1 Type 2                 ...
Bug    Electric   77      50  ...      60    65  86.500000  108          5
       Fighting  185      75  ...     105    75  80.000000   85          2
       Fire       85      55  ...     105    60  80.000000  100          5
       Flying    155      30  ...     110    40  82.857143  160          1
       Ghost      90      45  ...      30    40  40.000000   40          3
...              ...     ...  ...     ...   ...        ...  ...        ...
Water  Ice        95      80  ...      95    60  66.666667   70          1
       Poison     95      35  ...     120    70  85.000000  100          1
       Psychic    75      65  ...     110    15  44.000000  115          1
       Rock      108      85  ...      85    22  36.000000   55          2
       Steel      86      88  ...     101    60  60.000000   60          4

                               Legendary
                     mean amax      amin mean   amax
Type 1 Type 2
Bug    Electric  5.000000    5     False  0.0  False
       Fighting  2.000000    2     False  0.0  False
       Fire      5.000000    5     False  0.0  False
       Flying    2.857143    6     False  0.0  False
       Ghost     3.000000    3     False  0.0  False
...                   ...  ...       ...  ...    ...
Water  Ice       1.000000    1     False  0.0  False
       Poison    1.333333    2     False  0.0  False
       Psychic   1.200000    2     False  0.0  False
       Rock      3.750000    5     False  0.0  False
       Steel     4.000000    4     False  0.0  False

[136 rows x 27 columns]

### Question:  Based on how selecting rows by groups works, what do you think the code looks like for selecting columns by heirachy?

In [37]:
poke_multi.columns

MultiIndex([(         '#', 'amin'),
            (         '#', 'mean'),
            (         '#', 'amax'),
            (        'HP', 'amin'),
            (        'HP', 'mean'),
            (        'HP', 'amax'),
            (    'Attack', 'amin'),
            (    'Attack', 'mean'),
            (    'Attack', 'amax'),
            (   'Defense', 'amin'),
            (   'Defense', 'mean'),
            (   'Defense', 'amax'),
            (   'Sp. Atk', 'amin'),
            (   'Sp. Atk', 'mean'),
            (   'Sp. Atk', 'amax'),
            (   'Sp. Def', 'amin'),
            (   'Sp. Def', 'mean'),
            (   'Sp. Def', 'amax'),
            (     'Speed', 'amin'),
            (     'Speed', 'mean'),
            (     'Speed', 'amax'),
            ('Generation', 'amin'),
            ('Generation', 'mean'),
            ('Generation', 'amax'),
            ( 'Legendary', 'amin'),
            ( 'Legendary', 'mean'),
            ( 'Legendary', 'amax')],
           )

In [53]:
type(pokemon['Name'])

pandas.core.series.Series

In [46]:
# inspect .columns
# poke_multi.loc[:, ('HP', ('mean', 'amin', 'amax'))]
# poke_multi['HP']['amin']

                  HP
                amin       mean amax
Type 1 Type 2
Bug    Electric   50  60.000000   70
       Fighting   80  80.000000   80
       Fire       55  70.000000   85
       Flying     30  63.000000   86
       Ghost       1   1.000000    1
...              ...        ...  ...
Water  Ice        50  90.000000  130
       Poison     40  61.666667   80
       Psychic    60  87.000000   95
       Rock       54  70.750000  100
       Steel      84  84.000000   84

[136 rows x 3 columns]

In [3]:
# Select columns by level and column

### 3. Sorting

Sorting works the same way by the rules of selection for multi-dimension columns or indices.

> - `ascending` order is from __least__ to __greatest__ ie: __a->z__ or __0->100__.
> - `ascending = False` is reverse ascending order wich is from __greatest__ to __least__ ie: __z->a__ or __100->0__

In [62]:
## first example:
# ascending = False
poke_multi.sort_values([('HP', 'amax')], ascending = False)

## Second example:
# ascending = [False, True]
poke_multi.sort_values([('HP', 'amax'), ('Attack', 'amin')], ascending = [False, True])

                 #                    HP             Attack                   \
              amin        mean amax amin   mean amax   amin        mean amax
Type 1 Type 2
Ghost  Flying  473  473.500000  474   90  120.0  150     50   65.000000   80
       Dragon  545  545.500000  546  150  150.0  150    100  110.000000  120
Normal Fairy    45  239.000000  592   50   99.6  140     20   45.000000   70
Water  Ice      95  112.333333  143   50   90.0  130     70   83.333333   95
Dark   Flying  214  574.000000  794   60   93.2  126     55   92.200000  131
...            ...         ...  ...  ...    ...  ...    ...         ...  ...
       Ghost   327  327.500000  328   50   50.0   50     75   80.000000   85
Ghost  Dark    491  491.000000  491   50   50.0   50     92   92.000000   92
Bug    Water   308  308.000000  308   40   40.0   40     30   30.000000   30
Poison Bug     502  502.000000  502   40   40.0   40     50   50.000000   50
Bug    Ghost   317  317.000000  317    1    1.0    1     90   90.000000   90

              Defense  ... Sp. Def Speed                 Generation            \
                 amin  ...    amax  amin       mean amax       amin mean amax
Type 1 Type 2          ...
Ghost  Flying      34  ...      54    70  75.000000   80          4  4.0    4
       Dragon     100  ...     120    90  90.000000   90          4  4.0    4
Normal Fairy       15  ...     126    15  30.000000   50          1  2.4    5
Water  Ice         80  ...      95    60  66.666667   70          1  1.0    1
Dark   Flying      42  ...      98    60  80.200000   99          2  4.4    6
...               ...  ...     ...   ...        ...  ...        ...  ...  ...
       Ghost       75  ...     115    20  35.000000   50          3  3.0    3
Ghost  Dark       108  ...     108    35  35.000000   35          4  4.0    4
Bug    Water       32  ...      52    65  65.000000   65          3  3.0    3
Poison Bug         90  ...      55    65  65.000000   65          4  4.0    4
Bug    Ghost       45  ...      30    40  40.000000   40          3  3.0    3

              Legendary
                   amin mean   amax
Type 1 Type 2
Ghost  Flying     False  0.0  False
       Dragon      True  1.0   True
Normal Fairy      False  0.0  False
Water  Ice        False  0.0  False
Dark   Flying     False  0.2   True
...                 ...  ...    ...
       Ghost      False  0.0  False
Ghost  Dark       False  0.0  False
Bug    Water      False  0.0  False
Poison Bug        False  0.0  False
Bug    Ghost      False  0.0  False

[136 rows x 27 columns]

## Flattening Columns

### `.stack()`

You can move your columns to indices at any level.  By default, `.stack` moves your lowest level column structure over to a row index.

In [67]:
poke_multi

                   #                    HP                 Attack              \
                amin        mean amax amin       mean amax   amin        mean
Type 1 Type 2
Bug    Electric  657  657.500000  658   50  60.000000   70     47   62.000000
       Fighting  232  232.500000  233   80  80.000000   80    125  155.000000
       Fire      698  698.500000  699   55  70.000000   85     60   72.500000
       Flying     16  315.571429  735   30  63.000000   86     20   70.142857
       Ghost     317  317.000000  317    1   1.000000    1     90   90.000000
...              ...         ...  ...  ...        ...  ...    ...         ...
Water  Ice        95  112.333333  143   50  90.000000  130     70   83.333333
       Poison     79  129.000000  228   40  61.666667   80     40   68.333333
       Psychic    86  121.400000  215   60  87.000000   95     65   73.000000
       Rock      241  474.750000  627   54  70.750000  100     55   82.750000
       Steel     441  441.000000  441   84  84.000000   84     86   86.000000

                     Defense  ... Sp. Def Speed                 Generation  \
                amax    amin  ...    amax  amin       mean amax       amin
Type 1 Type 2                 ...
Bug    Electric   77      50  ...      60    65  86.500000  108          5
       Fighting  185      75  ...     105    75  80.000000   85          2
       Fire       85      55  ...     105    60  80.000000  100          5
       Flying    155      30  ...     110    40  82.857143  160          1
       Ghost      90      45  ...      30    40  40.000000   40          3
...              ...     ...  ...     ...   ...        ...  ...        ...
Water  Ice        95      80  ...      95    60  66.666667   70          1
       Poison     95      35  ...     120    70  85.000000  100          1
       Psychic    75      65  ...     110    15  44.000000  115          1
       Rock      108      85  ...      85    22  36.000000   55          2
       Steel      86      88  ...     101    60  60.000000   60          4

                               Legendary
                     mean amax      amin mean   amax
Type 1 Type 2
Bug    Electric  5.000000    5     False  0.0  False
       Fighting  2.000000    2     False  0.0  False
       Fire      5.000000    5     False  0.0  False
       Flying    2.857143    6     False  0.0  False
       Ghost     3.000000    3     False  0.0  False
...                   ...  ...       ...  ...    ...
Water  Ice       1.000000    1     False  0.0  False
       Poison    1.333333    2     False  0.0  False
       Psychic   1.200000    2     False  0.0  False
       Rock      3.750000    5     False  0.0  False
       Steel     4.000000    4     False  0.0  False

[136 rows x 27 columns]

## Join them using a basic comprehension
Sometimes you have to actually write code instead of relying on Pandas functions inherently.  Let's write an example.

In [76]:
poke_multi.columns = ["_".join(t) for t in poke_multi.columns]
poke_multi

                 #_amin      #_mean  #_amax  HP_amin    HP_mean  HP_amax  \
Type 1 Type 2
Bug    Electric     657  657.500000     658       50  60.000000       70
       Fighting     232  232.500000     233       80  80.000000       80
       Fire         698  698.500000     699       55  70.000000       85
       Flying        16  315.571429     735       30  63.000000       86
       Ghost        317  317.000000     317        1   1.000000        1
...                 ...         ...     ...      ...        ...      ...
Water  Ice           95  112.333333     143       50  90.000000      130
       Poison        79  129.000000     228       40  61.666667       80
       Psychic       86  121.400000     215       60  87.000000       95
       Rock         241  474.750000     627       54  70.750000      100
       Steel        441  441.000000     441       84  84.000000       84

                 Attack_amin  Attack_mean  Attack_amax  Defense_amin  ...  \
Type 1 Type 2                                                         ...
Bug    Electric           47    62.000000           77            50  ...
       Fighting          125   155.000000          185            75  ...
       Fire               60    72.500000           85            55  ...
       Flying             20    70.142857          155            30  ...
       Ghost              90    90.000000           90            45  ...
...                      ...          ...          ...           ...  ...
Water  Ice                70    83.333333           95            80  ...
       Poison             40    68.333333           95            35  ...
       Psychic            65    73.000000           75            65  ...
       Rock               55    82.750000          108            85  ...
       Steel              86    86.000000           86            88  ...

                 Sp. Def_amax  Speed_amin  Speed_mean  Speed_amax  \
Type 1 Type 2
Bug    Electric            60          65   86.500000         108
       Fighting           105          75   80.000000          85
       Fire               105          60   80.000000         100
       Flying             110          40   82.857143         160
       Ghost               30          40   40.000000          40
...                       ...         ...         ...         ...
Water  Ice                 95          60   66.666667          70
       Poison             120          70   85.000000         100
       Psychic            110          15   44.000000         115
       Rock                85          22   36.000000          55
       Steel              101          60   60.000000          60

                 Generation_amin  Generation_mean  Generation_amax  \
Type 1 Type 2
Bug    Electric                5         5.000000                5
       Fighting                2         2.000000                2
       Fire                    5         5.000000                5
       Flying                  1         2.857143                6
       Ghost                   3         3.000000                3
...                          ...              ...              ...
Water  Ice                     1         1.000000                1
       Poison                  1         1.333333                2
       Psychic                 1         1.200000                2
       Rock                    2         3.750000                5
       Steel                   4         4.000000                4

                 Legendary_amin  Legendary_mean  Legendary_amax
Type 1 Type 2
Bug    Electric           False             0.0           False
       Fighting           False             0.0           False
       Fire               False             0.0           False
       Flying             False             0.0           False
       Ghost              False             0.0           False
...                         ...             ...             ...
Water  Ice                False             0.0           False
       Poison             False             0.0           False
       Psychic            False             0.0           False
       Rock               False             0.0           False
       Steel              False             0.0           False

[136 rows x 27 columns]

# Summary

### Multi-indexing comprises both row and column index DataFrame structures.

- Commonly multi-indices are the result of `.groupby` and multiple aggregation.
- `df.index` becomes multidimensional
- Selecting multi-index subsets by name `.loc[([1st subset name, 2nd subset name])]`
    - Select only 2nd-level subsets by value:  `.loc[(slice(None), 2nd subset name'), [list of columns or : for all]]`
    - Select specific level subsets by list: `.query("`index name` in @index_values")`
- Selecting multi-level columns by name: `.loc[:, [1st level name, 2nd level column])]`
- Sorting of multi-level columns: `.sort_values([(1st level name, 2nd level column), (1st level name, 2nd level column)], ascending = [False, True])`
- `.stack()` to move the lowest level column level to the lowest leven multi-index.

In [77]:
poke_multi = pokemon.groupby(['Type 1', 'Type 2']).agg([np.min, np.mean, np.max])
poke_multi

                   #                    HP                 Attack              \
                amin        mean amax amin       mean amax   amin        mean
Type 1 Type 2
Bug    Electric  657  657.500000  658   50  60.000000   70     47   62.000000
       Fighting  232  232.500000  233   80  80.000000   80    125  155.000000
       Fire      698  698.500000  699   55  70.000000   85     60   72.500000
       Flying     16  315.571429  735   30  63.000000   86     20   70.142857
       Ghost     317  317.000000  317    1   1.000000    1     90   90.000000
...              ...         ...  ...  ...        ...  ...    ...         ...
Water  Ice        95  112.333333  143   50  90.000000  130     70   83.333333
       Poison     79  129.000000  228   40  61.666667   80     40   68.333333
       Psychic    86  121.400000  215   60  87.000000   95     65   73.000000
       Rock      241  474.750000  627   54  70.750000  100     55   82.750000
       Steel     441  441.000000  441   84  84.000000   84     86   86.000000

                     Defense  ... Sp. Def Speed                 Generation  \
                amax    amin  ...    amax  amin       mean amax       amin
Type 1 Type 2                 ...
Bug    Electric   77      50  ...      60    65  86.500000  108          5
       Fighting  185      75  ...     105    75  80.000000   85          2
       Fire       85      55  ...     105    60  80.000000  100          5
       Flying    155      30  ...     110    40  82.857143  160          1
       Ghost      90      45  ...      30    40  40.000000   40          3
...              ...     ...  ...     ...   ...        ...  ...        ...
Water  Ice        95      80  ...      95    60  66.666667   70          1
       Poison     95      35  ...     120    70  85.000000  100          1
       Psychic    75      65  ...     110    15  44.000000  115          1
       Rock      108      85  ...      85    22  36.000000   55          2
       Steel      86      88  ...     101    60  60.000000   60          4

                               Legendary
                     mean amax      amin mean   amax
Type 1 Type 2
Bug    Electric  5.000000    5     False  0.0  False
       Fighting  2.000000    2     False  0.0  False
       Fire      5.000000    5     False  0.0  False
       Flying    2.857143    6     False  0.0  False
       Ghost     3.000000    3     False  0.0  False
...                   ...  ...       ...  ...    ...
Water  Ice       1.000000    1     False  0.0  False
       Poison    1.333333    2     False  0.0  False
       Psychic   1.200000    2     False  0.0  False
       Rock      3.750000    5     False  0.0  False
       Steel     4.000000    4     False  0.0  False

[136 rows x 27 columns]

In [4]:
# poke_multi.loc[(slice('Bug', 'Ghost'), ('Poison', 'Normal')), :]

# poke_multi.loc[(slice(None), ('Fire', 'Ground', 'Normal')), :]

# items = ['Bug', 'Water', 'Normal']
# poke_multi.query("`Type 1` in @items")

# poke_multi.loc[(slice(None), ('Fire', 'Dragon')), :]
poke_multi = pokemon.groupby(['Type 1', 'Type 2']).agg([np.min, np.mean, np.max])
poke_multi.sort_values([('HP', 'amax'), ('Defense', 'amax')], ascending = [False, True])

# poke_multi.loc[:, (['HP', 'Defense'], ('amin', 'amax'))]

# poke_multi.index